#homescreen {
    width: 100vw; 
    height: 100vh; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    gap: 60px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;

    .btn-play-icon2 {
        position: absolute;
        height: 301px;
        bottom: -50px;
        top: 320px;
        left: 0px;
        // transform: rotate(0deg);
        // opacity: 0.05;
        // pointer-events: none;
    }

}


.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;



    .subtitle {
        font-family: 'Almarai', sans-serif;
        font-weight: 400;
        font-style: Regular;
        font-size: 48px;
        line-height: 100%;
        margin: 0;
        color: $color-text;
        margin-top: -20px;
        margin-bottom: 12px;
        
    }

    .title {
        font-family: 'Red Rose', sans-serif;
        font-weight: 700;
        font-style: Bold;
        font-size: 140px;
        line-height: 100%;
        margin: 0;
        color: $color-text;
    }


}